

<div class="flex flex-col md:flex-row justify-center items-center w-screen h-screen bg-stone-100 dark:bg-stone-950 z-20">
    <div class="flex flex-col justify-center items-center hidden md:block w-1/3 h-1/6 md:h-screen">
        <div class="flex flex-col justify-center items-center w-3/5 h-full md:h-1/4 ">
            <div class="flex flex-row justify-center items-center mt-16 md:mt-8">
                <h1 class="text-black dark:text-white font-bold text-xl md:text-2xl font-sans">
                    WINNUP
                </h1>
                <h1 class="text-green-400 font-bold text-xlmd:text-2xl font-serif">
                    |
                </h1>
                <h1 class="text-black dark:text-white  font-extralight text-xl md:text-2xl">
                    About
                </h1>
            </div>
        </div>
        <div class="flex flex-col justify-center  items-center w-full h-0 md:h-2/4 ">
            <img class="hidden md:block " src="../../assets/img/goods new.png"/>
        </div>
        <div class="flex flex-col justify-center items-center w-3/5 h-0 md:h-1/4 ">
            
        </div>
    </div>
    
    <div class="flex flex-col md:flex-row justify-center items-center w-screen mt-14 md:w-2/3 h-5/6 md:h-screen gap-8 md:gap-4">

        <div class="flex flex-col md:hidden block relative justify-center overflow-hidden items-center bg-white/70 dark:bg-black/70 w-96 h-1/2 rounded-3xl shadow-lg border-solid border-2 border-separate border-black/5">
            <svg xmlns="http://www.w3.org/2000/svg" width="350" height="350" fill="currentColor" class="bi bi-envelope absolute z-0 rotate-12 mt-64 mr-72 fill-orange-100 dark:fill-slate-800" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg>
            <div class="absolute flex flex-row w-5/6 h-10 shadow-sm gap-8 top-0 bg-stone-100 dark:bg-stone-900 mt-8 items-center justify-center rounded-3xl ">
                <h1 class="bg-clip-text text-xl text-transparent bg-gradient-to-r from-green-400 to-cyan-500 font-semibold">
                    Wie es funktioniert
                </h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-envelope-plus-fill fill-black/70 dark:fill-white/70" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                  </svg>
            </div>
            <div class="flex flex-col w-full h-4/6 justify-center items-center">
                <h1 class="dark:text-white text-black font-thin text-xs mt-20 w-5/6 z-10 ">
                    <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1  >
                            Registriere dich jetzt für unseren E-Mail-Newsletter <br>
                        </h1>
                   </div>
                     oder trete unserem Discord-Server bei, um täglich mit neuen profitablen Angeboten versorgt zu werden. <br>
                     <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 >
                            Du erhältst mehrmals wöchentlich neue Angebote <br>
                        </h1>
                   </div>
                    für profitable Produkte mit unterschiedlichen Konditionen direkt in dein Postfach.<br>
                    <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 >
                            Alle wichtigen Details sind in den Angeboten enthalten, <br>
                        </h1>
                   </div>
                     und du hast die Möglichkeit, sofort zu reagieren und deine Bestellung zu bestätigen, da viele unserer Angebote schnell vergriffen sind.<br>
                     <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 >
                            Nach Bestätigung senden wir dir  <br>
                        </h1>
                   </div>
                   umgehend die Rechnung zu,damit du schnell mit dem Verkauf beginnen kannst.
                </h1>
                <div class="flex flex-col justify-center items-center bottom-0 absolute w-full h-1/4 ">
                    <div class=" hidden md:block">
                    <a routerLink="contactme" class="flex flex-row w-60 mt-8 h-10  rounded-full justify-center items-center  bg-green-200 dark:bg-gradient-to-r from-green-400 to-cyan-500 ease-in-out duration-200 hover:scale-110  ">
                        <h1 class="text-green-700 dark:text-black text-center  text-lg ">
                            Kontaktieren Sie uns jetzt 
                        </h1>
                    </a>
                    </div>
                </div>
            </div>
         </div>
         
         <div class="flex flex-col md:hidden block relative justify-center overflow-hidden items-center bg-white/70 dark:bg-black/70 w-96 h-1/2 rounded-3xl shadow-lg border-solid border-2 border-separate border-black/5">
            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="currentColor" class="bi bi-envelope absolute z-0 rotate-12 mt-44 mr-72 fill-orange-100 dark:fill-slate-800" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>

              </svg>
           <div class="absolute flex flex-row gap-8 w-5/6 h-10 top-0 bg-stone-100 dark:bg-stone-900 mt-8 items-center justify-center rounded-3xl ">
               <h1 class="bg-clip-text text-xl text-transparent bg-gradient-to-r from-green-400 to-cyan-500 font-semibold">
                Was wir bieten
               </h1>
               <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-bag-check-fill fill-black/70 dark:fill-white/70" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
              </svg>
           </div>
           <div class="flex flex-col w-full h-4/6 justify-center items-center">
                <h1 class="flex flex-col justify-center text-black dark:text-white font-thin text-xs mt-14 w-5/6 z-10">
                   <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 class="font-semibold ">
                            Exklusive Angebote für Amazon-Händler: <br>
                        </h1>
                   </div>
                   Unsere Angebote sind speziell auf den Amazon-Marktplatz ausgerichtet und bieten dir die besten Möglichkeiten, deine Produkte gewinnbringend zu verkaufen. 
                   
                   <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 class="font-semibold">
                            Konditionen:  <br>
                        </h1>
                   </div>
                    Wir bieten attraktive Margen von bis zu 20%, damit du das Beste aus deinen Verkäufen herausholen kannst.<br>
                    <div class="w-full flex flex-row justify-start items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                        <h1 class="font-semibold">
                            Zusammenarbeit: <br>
                        </h1>
                   </div> 
                      Wir liefern alle wichtigen Informationen, damit du die Qualität unserer Angebote sofort beurteilen kannst. Bei uns gibt es keine versteckten Gebühren oder unklaren Bedingungen.
                </h1>
           </div>
        </div>

        <div class=" block md:hidden">
            <div class="flex flex-row justify-center md:justify-start w-full   md:mt-5  md:block">
                <a routerLink="contactme" class="flex flex-row w-52 md:w-60 h-8 md:h-10 z-20 rounded-3xl justify-center items-center bg-green-200 dark:bg-green-400/30 ease-in-out duration-200 hover:scale-110  ">
                        <h1 class="text-green-700 dark:text-green-400 text-center text-md md:text-lg ">
                            Kontaktieren Sie uns jetzt 
                        </h1>
                    </a>
            </div>
            </div>
          


        <div class="flex flex-col hidden md:block relative justify-center shadow-sm z-20 items-center w-5/6 md:w-full md:h-5/6 h-full md:mb-0 mb-24 bg-white dark:bg-stone-900 rounded-3xl  mr-0 md:mr-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute bottom-0 rounded-b-3xl" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,192L80,208C160,224,320,256,480,234.7C640,213,800,139,960,128C1120,117,1280,171,1360,197.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" class="fill-cyan-200 dark:fill-slate-600"></path>
                
            </svg>
           
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-0 rounded-t-3xl " viewBox="0 0 1440 320"><path fill="#a2d9ff" class="fill-cyan-200 dark:fill-slate-600"  fill-opacity="1"  d="M0,192L60,186.7C120,181,240,171,360,165.3C480,160,600,160,720,170.7C840,181,960,203,1080,224C1200,245,1320,267,1380,277.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
            <div class="flex flex-row justify-center  items-center w-5/6 h-1/4 z-10 mb-6 overflow-y-clip  gap-8">
                
               
            </div>
            <div class="w-full h-3/4 mb-3">
                <div class="flex flex-row w-full h-full p-8 gap-8">
                    <div class="flex flex-col relative overflow-hidden justify-center items-center bg-white/70 dark:bg-black/70 w-4/6 h-full rounded-3xl shadow-lg border-solid border-2 border-separate border-black/5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="currentColor" class="bi bi-envelope absolute z-0 rotate-12 mt-44 mr-72 fill-orange-100 dark:fill-slate-800" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>

                          </svg>
                       <div class="absolute flex flex-row gap-8 w-5/6 h-16 top-0 bg-stone-100 dark:bg-stone-900 mt-8 items-center justify-center rounded-3xl ">
                           <h1 class="bg-clip-text text-3xl text-transparent bg-gradient-to-r from-green-400 to-cyan-500 font-semibold">
                            Was wir bieten
                           </h1>
                           <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bag-check-fill fill-black/70 dark:fill-white/70" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                          </svg>
                       </div>
                       <div class="flex flex-col w-full h-4/6 justify-center items-center">
                            <h1 class="flex flex-col justify-center text-black dark:text-white font-thin text-md mt-6 w-5/6 z-10">
                               <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 class="font-semibold ">
                                        Exklusive Angebote für Amazon-Händler: <br>
                                    </h1>
                               </div>
                               Unsere Angebote sind speziell auf den Amazon-Marktplatz ausgerichtet und bieten dir die besten Möglichkeiten, deine Produkte gewinnbringend zu verkaufen. 
                               
                               <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 class="font-semibold">
                                        Konditionen:  <br>
                                    </h1>
                               </div>
                                Wir bieten attraktive Margen von bis zu 20%, damit du das Beste aus deinen Verkäufen herausholen kannst.<br>
                                <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 class="font-semibold">
                                        Zusammenarbeit: <br>
                                    </h1>
                               </div> 
                                  Wir liefern alle wichtigen Informationen, damit du die Qualität unserer Angebote sofort beurteilen kannst. Bei uns gibt es keine versteckten Gebühren oder unklaren Bedingungen.
                            </h1>
                       </div>
                    </div>

                    <div class="flex flex-col relative justify-center overflow-hidden items-center bg-white/70 dark:bg-black/70 w-4/6 h-full rounded-3xl shadow-lg border-solid border-2 border-separate border-black/5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="currentColor" class="bi bi-envelope absolute z-0 rotate-12 mt-96 mr-72 fill-orange-100 dark:fill-slate-800" viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                          </svg>
                        <div class="absolute flex flex-row w-5/6 h-16 gap-8 top-0 bg-stone-100 dark:bg-stone-900 mt-8 items-center justify-center rounded-3xl ">
                            <h1 class="bg-clip-text text-3xl text-transparent bg-gradient-to-r from-green-400 to-cyan-500 font-semibold">
                                Wie es funktioniert
                            </h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-envelope-plus-fill fill-black/70 dark:fill-white/70" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                              </svg>
                        </div>
                        <div class="flex flex-col w-full h-4/6 justify-center items-center">
                            <h1 class="dark:text-white text-black font-thin text-md mt-6 w-5/6 z-10 ">
                                <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1  >
                                        Registriere dich jetzt für unseren E-Mail-Newsletter <br>
                                    </h1>
                               </div>
                                 oder trete unserem Discord-Server bei, um täglich mit neuen profitablen Angeboten versorgt zu werden. <br>
                                 <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 >
                                        Du erhältst mehrmals wöchentlich neue Angebote <br>
                                    </h1>
                               </div>
                                für profitable Produkte mit unterschiedlichen Konditionen direkt in dein Postfach.<br>
                                <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 >
                                        Alle wichtigen Details sind in den Angeboten enthalten, <br>
                                    </h1>
                               </div>
                                 und du hast die Möglichkeit, sofort zu reagieren und deine Bestellung zu bestätigen, da viele unserer Angebote schnell vergriffen sind.<br>
                                 <div class="w-full flex flex-row justify-start items-center gap-2">
                                    <div class="w-2 h-2 rounded-full bg-green-400"></div> 
                                    <h1 >
                                        Nach Bestätigung senden wir dir  <br>
                                    </h1>
                               </div>
                               umgehend die Rechnung zu,damit du schnell mit dem Verkauf beginnen kannst.
                            </h1>
                            <div class="flex flex-col justify-center items-center bottom-0 absolute w-full h-1/4 ">
                                <div class=" hidden md:block">
                                <a routerLink="contactme" class="flex flex-row w-60 mt-8 h-10  rounded-full justify-center items-center  bg-green-200 dark:bg-gradient-to-r from-green-400 to-cyan-500 ease-in-out duration-200 hover:scale-110  ">
                                    <h1 class="text-green-700 dark:text-black text-center  text-lg ">
                                        Kontaktieren Sie uns jetzt 
                                    </h1>
                                </a>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            
           
        </div>
    </div>
    
   
    
</div>
