
<div id="contactpage" class="flex flex-col justify-center items-center w-screen h-screen bg-white dark:bg-black">
    <div id="bg-wrap" class="w-screen absolute h-screen overflow-y-clip  z-0 opacity-25"   >
        <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
        <defs class="z-10">
        <radialGradient class="z-0" id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5"><animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop><stop offset="100%" stop-color="rgba(255, 0, 255, 0)"> </stop></radialGradient> -->
        
         <radialGradient class="z-0" id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5"><animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop></radialGradient> -->
    
        <radialGradient class="z-0" id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5"><animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop></radialGradient>
    
        <radialGradient class="z-0" id="Gradient4" cx="50%" cy="50%" fx="4.56417%" fy="50%" r=".5"><animate attributeName="fx" dur="23s" values="0%;5%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(0, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 0, 0)"></stop></radialGradient>
        
        <radialGradient class="z-0" id="Gradient5" cx="50%" cy="50%" fx="2.65405%" fy="50%" r=".5"><animate attributeName="fx" dur="24.5s" values="0%;5%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(0,0,255, 1)"></stop><stop offset="100%" stop-color="rgba(0,0,255, 0)"></stop></radialGradient>
        
        <radialGradient class="z-0" id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5"><animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite"></animate>
        <stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop><stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop></radialGradient>
        </defs>
        <!--<rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient4)">
        <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite" />
        <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite" />
        <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient5)">
        <animate attributeName="x" dur="23s" values="0%;-25%;0%" repeatCount="indefinite" />
        <animate attributeName="y" dur="24s" values="25%;-25%;25%" repeatCount="indefinite" />
        <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite"/>
        </rect>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient6)">
        <animate attributeName="x" dur="25s" values="-25%;0%;-25%" repeatCount="indefinite" />
        <animate attributeName="y" dur="26s" values="0%;-25%;0%" repeatCount="indefinite" />
        <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite"/>
        </rect>-->
        <rect x="13.744%" y="1.18473%" width="100%" height="100%" fill="url(#Gradient1)" transform="rotate(334.41 50 50)"><animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"></animate><animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="7s" repeatCount="indefinite"></animateTransform></rect>
        <rect x="-2.17916%" y="35.4267%" width="100%" height="100%" fill="url(#Gradient2)" transform="rotate(255.072 50 50)"><animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite"></animate><animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="12s" repeatCount="indefinite"></animateTransform>
        </rect>
        <rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)" transform="rotate(139.903 50 50)"><animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite"></animate><animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="9s" repeatCount="indefinite"></animateTransform>
        </rect>
        </svg>
    </div>
    <div class="flex flex-col justify-center items-center md:w-3/5  w-5/6 h-4/5 rounded-xl z-30 bg-white/70 dark:bg-black/70 shadow-md  mt-10 md:mt-0">
        <div class="flex flex-row justify-center items-center mb-5">
            <h1 class="text-black dark:text-white font-bold text-xl md:text-3xl font-sans">
                ESD
            </h1>
            <h1 class="text-green-400 font-bold text-xl md:text-3xl font-serif">
                |
            </h1>
            <h1 class="text-black dark:text-white font-extralight text-xl md:text-3xl ">
                Kontakt
            </h1>
        </div>
        <div class="flex flex-col justify-center items-center rounded-full w-20 h-20 mb-6 bg-white dark:bg-black ">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="" class="bi bi-envelope fill-green-400" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
            </svg>
        </div>

        <form id="Emailform"  class="w-5/6 " action="mailto:esd.industreis@gmail.com?" method="get" enctype="text/plain">
            <div class="flex flex-row justify-center items-center gap-4 mb-6  ">
                <div class="w-1/2">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-stone-200">Vorname</label>
                    <input type="text" id="first_name" class=" bg-stone-100 dark:bg-stone-950 border border-stone-200 dark:border-stone-800 text-stone-200 text-sm rounded-lg focus:ring-green-400 focus:border-green-500  w-full p-2.5 placeholder:text-black/30 dark:placeholder:text-white/30" placeholder="Vor-" required>
                </div>
                <div class="w-1/2">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-stone-200">Nachname</label>
                    <input type="text" id="last_name" class=" bg-stone-100 dark:bg-stone-950 border border-stone-200 dark:border-stone-800 text-stone-200 text-sm rounded-lg focus:ring-green-400 focus:border-green-500  w-full p-2.5 placeholder:text-black/30 dark:placeholder:text-white/30" placeholder="Nach-" required>
                </div>
                
            </div>
            <div class="mb-6 w-full">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-stone-200">Email-Adresse</label>
                <input type="email" id="email" class=" bg-stone-100 dark:bg-stone-950 border border-stone-200 dark:border-stone-800 text-stone-200 text-sm rounded-lg focus:ring-green-400 focus:border-green-500  w-full p-2.5 placeholder:text-black/30 dark:placeholder:text-white/30" placeholder="Vor-.Nachname@Email.com" required>
            </div> 
            <div class="mb-6 w-full">
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-stone-200">Wähle ein Betreff</label>
                <select name="subject" type="text" class="  bg-stone-100 dark:bg-stone-950 border border-stone-200 dark:border-stone-800 text-black dark:text-white/30 text-sm rounded-lg focus:ring-green-500 focus:border-green-500  w-full p-2.5   placeholder:text-black/30 dark:placeholder:text-white/30 dark:text-stone-200 dark:focus:ring-green-500 dark:focus:border-green-500">
                <option class="text-black dark:text-white/30" selected>Betreff</option>
                <option class="text-black dark:text-white/30"  value="B2B Anfrage">B2B Anfragen</option>
                <option class="text-black dark:text-white/30"  value="B2C Anfrage">B2C Anfragen</option>
                <option class="text-black dark:text-white/30"  value="Sonstiges">Sonstiges</option>
                </select>
            </div>
            <div class="mb-6 w-full">
                <label  for="body"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-stone-200">Details zur Anfrage</label>
                <input type="text" name="body" class="   bg-stone-100 dark:bg-stone-950 border border-stone-200 dark:border-stone-800 text-stone-200 text-sm rounded-lg focus:ring-green-400 focus:border-green-500  w-full p-2.5  placeholder:text-black/30 dark:placeholder:text-white/30" placeholder="Was können wir tun?" required>
            </div> 
        
            <div class="flex items-start mt-4">
                <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-stone-800 rounded-full focus:ring-2 focus:outline-none  " required>
                </div>
                <label for="remember"  class="ml-2 text-sm font-medium text-gray-900 dark:text-stone-200">Ich stimme zu das die die Email abgesendet wird <button onclick="openterms()" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</button>.</label>
            </div>

            <button type="submit"  class="text-green-700 dark:text-green-400 bg-green-200  mt-4  focus:ring-4 text-xl focus:outline-none focus:ring-green-400 font-medium rounded-full  w-full  px-5 py-2.5 text-center dark:bg-green-400/30 dark:focus:ring-green-800 transition duration-500 hover:scale-110">
                Senden
            </button>
        </form>
    </div>
</div>