<!-- <div id="start-screen2"  class="flex flex-col intro2b justify-center startbg items-center absolute  bg-white z-40">
  <h1 class="text-white text-center font-bold text-8xl logo-start">
    ESD INDUSTRIES
  </h1>
  
</div> -->
<div class="h-full w-screen overflow-clip">
  <app-navbar class="fixed top-0 z-40"></app-navbar>

  
  <button (click)="onclick()" class="w-32 h-10 p-2 hidden rounded-3xl fixed z-50 bg-red-300 text-white font-light">
    {{Newsletter?"Öfnen ":"Schliessen "}}
   </button>
    
    <router-outlet class="scrollbar-hide"></router-outlet>
   
    
  
   
  
</div>
