
<div id="bg-wrap" class="w-screen  h-screen overflow-y-clip fixed z-0 opacity-25 hidden md:block"   >
	<svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
	<defs class="z-10">
	<!-- <radialGradient class="z-0" id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5"><animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite"></animate>
    <stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop><stop offset="100%" stop-color="rgba(255, 0, 255, 0)"> </stop></radialGradient> -->
	
    <!-- <radialGradient class="z-0" id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5"><animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite"></animate>
    <stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop></radialGradient> -->

	<radialGradient class="z-0  dark:opacity-100" id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5"><animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite"></animate>
    <stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop></radialGradient>

	
    <radialGradient class="z-0" id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5"><animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite"></animate>
    <stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop><stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop></radialGradient>
	</defs>
	
	<rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)" transform="rotate(139.903 50 50)"><animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite"></animate><animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="9s" repeatCount="indefinite"></animateTransform>
	</rect>
	</svg>
</div>
 

<div 
class="flex flex-col justify-center items-center w-screen h-screen 
       overflow-x-clip overflow-y-clip bg-stone-100 dark:bg-stone-950 z-20 scrollbar-hide" >
<!-- <div class="progress z-40">
    <h1 id="side-progress" class="top-20 border-solid border-2 fixed border-neutral-200 w-12 h-12 justify-center items-center text-center rounded-xl text-red-700  mr-0 sm:mr-24 shadow-sm shadow-black/40">

    </h1>
</div> -->

<div  id="home" class="flex flex-row justify-center absolute items-center top-24 md:top-28 opacity-0 md:opacity-100">
    <h1 class="text-black dark:text-white font-bold text-md md:text-2xl font-sans">
        WINNUP
    </h1>
    <h1 class="text-green-400 font-bold text-md md:text-2xl font-serif">
        |
    </h1>
    <h1 class="text-black dark:text-white font-extralight text-md md:text-2xl ">
        Home
    </h1>
</div>
 <div class="flex flex-row w-screen h-screen justify-center items-center">
   <div class="flex flex-col justify-center items-center gap-0 md:gap-2 mt-8  md:mt-32 md:ml-24 w-full md:w-1/2 h-screen">

      <div class="flex flex-row justify-center md:justify-start w-full">
            <h1 class=" text-black/70 dark:text-white/70 text-md  md:text-xl ">
               WINNUP B2B 
            </h1>
      </div>
      <div class="flex flex-row justify-center md:justify-start w-5/6 md:w-full">
            <h1 class="bg-clip-text text-2xl sm:text-4xl text-transparent md:text-5xl bg-gradient-to-r from-green-400 to-cyan-500 font-bold text-center md:text-left">
                Dein Grosshandelspartner für Handelsware
            </h1>
      </div>
      <div class="flex flex-col justify-center items-center w-80 sm:w-96 md:w-0  ">
        <img class="md:hidden block" src="../../assets/img/goods-delivery-warehouse.png"/>
    </div>

       <div class="flex flex-col justify-center relative rounded-3xl shadow-lg w-96 h-44 overflow-hidden block md:hidden ">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute h-60 top-0 z-0" viewBox="0 0 1440 320"><path fill="#00cba9" class="fill-purple-500" fill-opacity="1" d="M0,96L34.3,133.3C68.6,171,137,245,206,266.7C274.3,288,343,256,411,224C480,192,549,160,617,144C685.7,128,754,128,823,133.3C891.4,139,960,149,1029,128C1097.1,107,1166,53,1234,53.3C1302.9,53,1371,107,1406,133.3L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z">

                </path></svg>
                <div class="flex flex-row justify-center md:justify-start w-full pb-2 mt-2 md:mt-2 z-10">
                    <h1 class="text-white md:text-black/70 dark:text-white/70 font-light text-md md:text-xl w-4/5 md:w-full text-center">
                        Wir bieten hochwertige Markenware zu attraktiven Preisen an, mit denen du profitabel auf Marktplätzen wie Amazon verkaufen kannst.
                    </h1>
                 </div>
                <div class="flex flex-row justify-center md:justify-start w-full mt-2  md:mt-5">
                    <a routerLink="contactme" class="flex flex-row w-52 wmd:w-60 h-8 md:h-10 z-20 rounded-3xl justify-center items-center bg-green-200 dark:bg-green-400/30 ease-in-out duration-200 hover:scale-110  ">
                            <h1 class="text-green-700 dark:text-green-400 text-center text-md md:text-lg ">
                                Kontaktieren Sie uns jetzt 
                            </h1>
                        </a>
                </div>
       </div>
    <div class="flex flex-row justify-center md:justify-start w-full pb-2 mt-0 md:mt-2 z-10 hidden md:block">
        <h1 class="text-white md:text-black/70 dark:text-white/70 font-extralight text-md md:text-xl w-4/5 md:w-full text-left">
            Wir bieten hochwertige Markenware zu attraktiven Preisen an, mit denen du profitabel auf Marktplätzen wie Amazon verkaufen kannst.
        </h1>
     </div>
    <div class="flex flex-row justify-center md:justify-start w-full mt-8  md:mt-5 hidden md:block">
        <a routerLink="contactme" class="flex flex-row w-52 md:w-60 h-8 md:h-10 z-20 rounded-3xl justify-center items-center bg-green-200 dark:bg-green-400/30 ease-in-out duration-200 hover:scale-110  ">
                <h1 class="text-green-700 dark:text-green-400 text-center text-md md:text-lg ">
                    Kontaktieren Sie uns jetzt 
                </h1>
            </a>
    </div>

    
    
    <div class="flex flex-row relative w-96 md:w-full h-64 md:h-72 md:mt-10 mt-6 justify-center overflow-hidden items-center bg-white dark:bg-stone-900 rounded-3xl shadow-lg md:shadow-sm ">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute h-40 md:h-full lg:h-56 top-0 z-0" viewBox="0 0 1440 320"><path fill="#00cba9" class="" fill-opacity="1" d="M0,96L34.3,133.3C68.6,171,137,245,206,266.7C274.3,288,343,256,411,224C480,192,549,160,617,144C685.7,128,754,128,823,133.3C891.4,139,960,149,1029,128C1097.1,107,1166,53,1234,53.3C1302.9,53,1371,107,1406,133.3L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z">

            </path></svg>
            <div class="flex flex-col justify-center z-20 h-full w-full items-center ">
                <div class="flex flex-row justify-center items-center w-full h-2/6">
                    <h1 class="text-lg md:text-2xl  text-white dark:text-black font-light md:mr-48 mb-2 md:mt-4 block md:hidden">
                        Der Schlüssel zum erfolgreichen Verkauf auf <br>Amazon liegt in ...
                    </h1>
                    <h1 class="md:text-xl lg:text-2xl lx:text-3xl md:mt-5  text-white dark:text-black font-bold lg:mr-24 xl:mr-32 mb-2 md:p-4 lg:p-8 lg:mt-4 xl:mt-0 hidden md:block">
                        Der Schlüssel zum erfolgreichen Verkauf auf Amazon liegt in ...
                    </h1>
                </div>
                <div class="flex flex-row w-full h-4/6 p-2">
                    <div class="flex flex-col w-2/6 h-full">
                        <img id="handybild " class="rotate-12 absolute w-72  md:pr-5 lg:pr-14 lg:mt-16 xl:w-96 xl:pr-24 lg:left-0 xl:top-1 right-52 top-10 md:mt-8 z-0 " src="../../assets/img/3d-online-shopping-on-websites-or-mobile-applications-concepts-of-marketing-and-digital-marketing-on-transparent-background-PNG.png"/>
                    </div>
            
                    <h1 class="flex flex-col justify-center items-center font-thin z-10 rounded-3xl text-black dark:text-white/80 text-sm lg:text-md xl:text-xl md:text-md w-5/6 md:w-4/6 pb-2 md:p-6 h-full pl-4 md:pt-14 xl:pt-8 text-left">
                    profitablen Einkaufspreisen und einer zuverlässigen
                        Beschaffung von Produkten. 
                        Bei WINNUP B2B verstehen wir deine Bedürfnisse als Amazon-Händler und 
                        bieten dir eine einzigartige Quelle für profitable Produkte und lukrative Geschäftsmöglichkeiten.
                    </h1>
                </div>
            </div>
          
            
    </div>
  
</div>
   <div class="flex flex-col justify-center items-center w-0 md:w-1/2 h-screen ">
       <img class="hidden md:block" src="../../assets/img/goods-delivery-warehouse.png"/>
   </div>
  
 </div>
</div>
<app-about-me id="aboutme">
</app-about-me >
<app-impressum id="Impressum">

</app-impressum>

<script>
                                window.addEventListener('scroll', () => {
                                document.body.style.setProperty('--scroll', window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
                                document.getElementById('side-progress').innerHTML = Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight))) + '%';
                                // var progress = Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight)));
                                if (20 >= Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight)))){
                                    document.getElementById('home-nav').style.color = 'white';
                                    
                                
                                } else {
                                    document.getElementById('home-nav').style.color = 'gray';   
                                }
                                
                                
                                if (40 >= Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight))) & 20 < Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight)))){
                                    document.getElementById('about').style.color = 'white';
                                    
                                } else {
                                    document.getElementById('about').style.color = 'gray';
                                }
                                if (70 >= Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight))) & 39 < Math.round(100 * (window.pageYOffset / (document.body.offsetHeight - window.innerHeight)))){
                                    document.getElementById('impressum').style.color = 'white';
                                } else {
                                    document.getElementById('impressum').style.color = 'gray';
                                }
                               
                               
                            }, false);
</script>